<!DOCTYPE html>
  <head>
    <title>Background Changing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>


  </body>

  <script>
      setInterval(function(){
            document.body.style.background = 'red';
      },1000);

      setInterval(function(){
            document.body.style.background = 'green';
      },2000);

      setInterval(function(){
            document.body.style.background = 'brown';
      },3000);

      setInterval(function(){
            document.body.style.background = 'blue';
      },4000);
      setInterval(function(){
            document.body.style.background = 'grey';
      },5000);
  </script>
</html>